shutil
streamlit as st
import difflib
from markUp import markUpDifferences
import pandas as pd
import os
from diffReport import diffReport, html_output
import glob
import matplotlib.pyplot as plt
import matplotlib